#App {
  margin: 0;
  background: white;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  border-bottom: 1px solid #e9ecef;
  /* color: black; */
  top : 10px;
  height: 80px;
  box-shadow: 0px 2px 4px 0px #0000000E;
  padding: 10px;
  margin: 0;
}
.navbar li {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
/* .home {
  background-color: white;
  color: black;
 
} */
.home-components{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  /* padding: 3px; */
}


.saved-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px;

}
.saved-countries {
  background-color: #FAFAFA;
  color: black
}

.home-components{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 3px;
}
.search-bar{
  inline-size: 100%;
  width: 100%;
  padding: 3px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;

}
.filtered-data{
  /* display: grid; */
  grid-row: 2/3;
  grid-column: 1/4;
}
.ul-grid{
  display: grid;
}

/* country page */
.country-page{
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  padding: px;
  margin: 2px;
  /* background-color: white; */
}
@media (max-width: 600px){
  .ul-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0;
    
  }
  .filtered-data {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0;
    padding: 1rem;
    align-items: center;
    align-content: center;
  }
}

@media (min-width: 601px){
  .ul-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0;
    
  }
  .filtered-data {
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1rem;
    margin: 0;
    padding: 1rem;
    align-items: center;
    align-content: center;
  }
}
@media (min-width: 801px){
  .filtered-data {
  
    
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-rows: 1fr 1fr ;
  
  }
  .ul-grid {
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr ;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
   
  }
}