#App {
  margin: 0;
  background: white;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  color: black;
  top : 10px;
  height: 80px;
  box-shadow: 0px 2px 4px 0px #0000000E;
}
.navbar li {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.home {
  background-color: white;
  color: black;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr ; */
}
.ul-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr ;
  gap: 1rem;
}
.saved-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px;

}

.home-components{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 3px;
}
.search-bar{
  inline-size: 100%;
  width: 100%;
  padding: 3px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;

}